/* Общие стили для тела страницы */
body {
    font-family: Arial, sans-serif;
    color: #4a3b2d;
    margin: 0;
    background-color: #f7f4f0;
}

/* Стили для контейнера основного содержимого */
.container {
    max-width: 100%;
    padding: 20px;
}

/* Стили для заголовков */
h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Стили для бокового меню */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 60px 0 0; /* Отступ сверху */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    overflow-y: auto; /* Добавляем прокрутку */
    background-color: #f8f9fa;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 60px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar-heading {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
}

/* Стили для основного содержимого */
main {
    margin-left: 220px; /* Ширина бокового меню */
    padding: 20px;
}

/* Стили для кнопки */
button.custom-button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.custom-button:hover {
    background-color: #0056b3;
}

/* Стили для формы */
section {
    margin-bottom: 30px;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}

textarea.form-control {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    resize: vertical;
}

/* Стили для секции вывода отчета */
#output {
    margin-top: 40px;
}

#result {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    resize: vertical;
}

/* Адаптивность для маленьких экранов */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    main {
        margin-left: 0;
    }
}
